@import url("https://fonts.googleapis.com/css2?family=Kurale&family=Rubik:ital,wght@0,300..900;1,300..900&family=Yuji+Mai&display=swap");

button,
button:focus {
  outline: none !important;
  box-shadow: none !important;
}
